[general]

project     = Request Routing Service
version     = 0.5
release     = 0.5.0
t3author    = Xavier Perseguers
copyright   = 2014-2020

description = Service to route HTTP/REST requests to your own controller/actions.


[notify]

about_new_builds = no

[html_theme_options]

# for theme t3SphinxThemeRtd

# to get the "Edit me on Github Button"
github_branch        = master
github_repository    = xperseguers/t3ext-routing

project_contact      = https://twitter.com/xperseguers
project_discussions  =
project_home         = https://github.com/xperseguers/t3ext-routing
project_issues       = https://github.com/xperseguers/t3ext-routing/issues
project_repository   = https://github.com/xperseguers/t3ext-routing.git

# leave this empty
use_opensearch       =

[intersphinx_mapping]

# for cross-referencing across manuals (intersphinx) with :ref:
#
# You must uncomment all manuals you use in your cross-references
#
# Example usage:
#   :ref:`t3contribute:start` will link to start page of Contribution Guide

# h2document          = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/
# t3contribute        = https://docs.typo3.org/m/typo3/guide-contributionworkflow/master/en-us/
# t3coreapi           = https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/
# t3docteam           = https://docs.typo3.org/m/typo3/team-t3docteam/master/en-us/
# t3editors           = https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/
# t3extbase           = https://docs.typo3.org/m/typo3/guide-extbasefluid/master/en-us/
# t3extbasebook       = https://docs.typo3.org/m/typo3/book-extbasefluid/master/en-us/
# t3install           = https://docs.typo3.org/m/typo3/guide-installation/master/en-us/
# t3l10n              = https://docs.typo3.org/m/typo3/guide-frontendlocalization/master/en-us/
# t3start             = https://docs.typo3.org/m/typo3/tutorial-getting-started/master/en-us/
# t3sitepackage       = https://docs.typo3.org/m/typo3/tutorial-sitepackage/master/en-us/
# t3tca               = https://docs.typo3.org/m/typo3/reference-tca/master/en-us/
# t3templating        = https://docs.typo3.org/m/typo3/tutorial-templating-with-fluid/master/en-us/
# t3ts45              = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/master/en-us/
# t3tsconfig          = https://docs.typo3.org/m/typo3/reference-tsconfig/master/en-us/
# t3tsref             = https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/

[extensions]

# ; Add to list of extensions[] as defined in 'conf.py'.
# ; Mention the extensions you need. Some are loaded automatically
# ; and don't need to be mentioned. Examples:
#

# This is required for embedding YouTube videos
#any_name_youtube    = sphinxcontrib.youtube
